/* body */
body {
  background: black;
  min-height: 100%;
}


/* section header */

.header {
  position: fixed;
  height: 74px;
  width: 100%;
  transition: height 0.3s ease-out, background 0.3s ease-out,
    box-shadow 0.3s ease-out;
  transform: translate3d(0, 0, 0);
  z-index: 1040;
}
